body {

padding: 20px;
}
.header {

background-color: rgb(153, 0, 0);

font-family: Verdana, Geneva, Tahoma, sans-serif;

font-weight: 100;

text-align: center;

padding: 10px;

color: white;

margin-bottom: 10px;
}
.content{

background: #FF9999;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida;

padding: 10px;

margin-bottom: 10px;
}
.footer {

background: #FF0000;

color: white;

padding: 10px;
}
.bold {

text-transform: uppercase;

font-weight: 900;

color: yellow;
}
