p:hover {

color:yellow;

font-weight: bold;

}

p::before {

content: 'Fortnite ';

color: yellow;

font-weight: bold;

}

p::after {

content: Battlepass!';

color: blue;

font-weight: bold;

}

p::selection {

background-color: pink;

color: white;
}
